/* @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap'); */
html {
    background-color: wheat;
    height: 100%;
}

code, pre, kbd {
    font-size: 0.8em;
}

body {
    counter-reset: theorem;
    background-color: white;
    font-family: "Spectral", Merriweather, Georgia, serif;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    min-height: 100%;
    padding: 0 1em;
    max-width: 34em;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

h1 {
    font-size: 2em;
    line-height: 1.2;
}
h2 {
    font-size: 1.8em;
    line-height: 1.2;
}
h3 {
    font-size: 1.6em;
    line-height: 1.2;
}
h4 {
    font-size: 1.4em;
    line-height: 1.4;
}

h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1.1em;
}

div.theorem::before {
    counter-increment: theorem;
    content: "Theorem " counter(theorem) ".";
    font-style: normal;
    font-weight: bold;
}

div.remark::before {
    counter-increment: theorem;
    content: "Remark " counter(theorem) ".";
    font-style: italic;
}

div.definition::before {
    counter-increment: theorem;
    content: "Definition " counter(theorem) ".";
    font-style: normal;
    font-weight: bold;
}

div.corollary::before {
    counter-increment: theorem;
    content: "Corollary " counter(theorem) ".";
    font-style: normal;
    font-weight: bold;
}

div.theorem, div.corollary {
    font-style: italic;
}

div.theorem > p, div.corollary > p, div.remark > p, div.definition > p {
    margin-top: 0;
}
div.definition > p:last-of-type {
    margin-bottom: 0;
}

div.definition {
    border: 1px solid black;
    padding: 0.25em;
    margin: 1em 0;
}

div.remark {
    border-left: 3px solid black;
    font-size: 95%;
    padding-left: 1em;
}