
div.proof::before {
    content: "Proof.";
    font-style: italic;
}
div.proof::after {
    content: "∎";
    float: right;
    line-height: 18px;
    margin-top: -45px;
    margin-right: -0.5em;
    text-align: right;
}